openapi: 3.0.3
info:
  title: Autonoma API
  description: |
    API for managing test runs and test definitions in the Autonoma platform.

    **Important Note:** Media URLs (images, videos) expire after 1 hour.
  version: 1.0.0
  contact:
    name: Autonoma Support
servers:
  - url: https://autonoma.app/api
    description: Production server
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: autonoma-client-id
      description: Client ID for authentication
    ApiSecretAuth:
      type: apiKey
      in: header
      name: autonoma-client-secret
      description: Client secret for authentication
  schemas:
    RunTestRequest:
      type: object
      properties:
        application_version_id:
          type: string
          description: Run with a specific application version
          example: "cm7dbowr80042waka7thyjhkq"
        environment_application_version_id:
          type: string
          description: Use a different version for the run environment
          example: "cm7dbowr80042waka7thyjhkq"
        run_on_latest:
          type: boolean
          description: Run with the latest application version
          example: true
        runtime_metadata:
          type: object
          description: Variables to override when test is running, if variable does not match any of your saved variables it will ignore it
          additionalProperties:
            type: string
          example:
            NAME: "CompanyName"
            ENVIRONMENT: "staging"
            API_KEY: "test-key-123"
        source:
          type: string
          description: Source identifier (max 10 chars), defaults to "api"
          default: "api"
          example: "api"
        use_physical_device:
          type: boolean
          description: Run on a physical device instead of simulator/emulator. Requires Device Farm to be enabled and for iOS, a .ipa file must be uploaded as physicalDevicePath for the application version.
          example: true
        device_arn:
          type: string
          description: "Specific AWS Device Farm device ARN to use. Priority: API device_arn over Test config deviceFarmDeviceArn over Org default device"
          example: "arn:aws:devicefarm:us-west-2::device:ABC123..."
    RunFolderRequest:
      type: object
      properties:
        application_version_id:
          type: string
          description: Optional application version ID to use for all tests in the folder
          example: "cm7dbowr80042waka7thyjhkq"
        source:
          type: string
          description: Source of the test run request
          default: "api"
          example: "api"
    RunTagRequest:
      type: object
      required:
        - tag_ids
      properties:
        tag_ids:
          type: array
          description: IDs of the tags to run
          items:
            type: string
          example: ["cm7dbowr80042waka7thyjhkq", "cm8xf3wp90123abcd4efgh5ij"]
        application_versions:
          type: array
          description: Applications used by running tests
          items:
            type: object
            properties:
              application_id:
                type: string
                description: Optional application ID
                example: "cm7dbowr80042waka7thyjhkq"
              application_version_ids:
                type: array
                description: Optional application version IDs
                items:
                  type: string
                example:
                  ["cm7dbowr80042waka7thyjhkq", "cm8xf3wp90123abcd4efgh5ij"]
          example:
            - application_id: "cm7dbowr80042waka7thyjhkq"
              application_version_ids:
                ["cm7dbowr80042waka7thyjhkq", "cm8xf3wp90123abcd4efgh5ij"]
            - application_id: "cm9xyz12340567pqrs8tuvwxy"
              application_version_ids:
                ["cm9abc34560789defg0hijklm", "cm0nop78901234qrst5uvwxyz"]
    TestFolder:
      type: object
      properties:
        id:
          type: string
          example: "cm7t223mk00154mzy2jwk2pqy"
        name:
          type: string
          example: "private-listing-hub"
    ApplicationVersion:
      type: object
      properties:
        name:
          type: string
          example: "STG"
        path:
          type: string
          example: "https://autonoma.app"
        customID:
          type: string
          nullable: true
          description: Custom identifier for the version (e.g., "build-123", "release-v2.0")
          example: "build-123"
    VersionResponse:
      type: object
      properties:
        id:
          type: string
          example: "cm7dbowr80042waka7thyjhkr"
        name:
          type: string
          example: "1.0.0"
        customID:
          type: string
          nullable: true
          description: Custom identifier for the version
          example: "build-123"
        path:
          type: string
          description: Cloud storage path for the simulator/emulator file
          example: "gs://bucket/path/to/app.apk"
        physicalDevicePath:
          type: string
          nullable: true
          description: Cloud storage path for the physical device file (`.ipa` for iOS)
          example: "gs://bucket/path/to/app.ipa"
        minimumIOSVersion:
          type: string
          nullable: true
          description: Minimum iOS version extracted from the `.ipa` file's `Info.plist`
          example: "15.0"
        tag:
          type: string
          example: "main"
        createdAt:
          type: string
          format: date-time
          example: "2024-12-12T18:13:36.000Z"
        application:
          type: object
          properties:
            id:
              type: string
              example: "cm7dbowr80042waka7thyjhkq"
            name:
              type: string
              example: "MyApp"
            applicationType:
              type: string
              enum: [android, ios, web]
              example: "android"
    Metadata:
      type: object
      properties:
        source:
          type: string
          example: "scheduled"
        version:
          type: string
          example: "STG"
        architecture:
          type: string
          example: "web"
        application_version_id:
          type: string
          example: "cm7dbowr80042waka7thyjhkq"
        email:
          type: string
          example: "axel@autonoma.app"
        username:
          type: string
          example: "Axel Escalada"
    Element:
      type: object
      properties:
        html:
          type: string
          example: '<input class="input c2053dbb5 c10f8401f" inputmode="email" name="username" id="username" type="text" value="" required="" autocomplete="email" autocapitalize="none" spellcheck="false" autofocus=""'
        selector:
          type: string
          example: "input#username"
    Step:
      type: object
      properties:
        id:
          type: string
          example: "cmbs5deso0001ps016az80n89"
        instruction:
          type: string
          example: "insert {{variable:QA_ADMIN_USER}} into log in input"
        interaction:
          type: string
          example: "input-text"
        output:
          type: string
          example: "input-text on element with text axel@autonoma.app"
        status:
          type: string
          enum: [passed, failed, pending]
          example: "passed"
        url:
          type: string
          example: "https://login.autonoma.app/login"
        element:
          $ref: "#/components/schemas/Element"
        image:
          type: string
          description: "Screenshot URL (expires in 1 hour)"
          example: "https://storage.googleapis.com/autonoma-media/screenshots/d8e41de595af.jpeg"
    RunTest:
      type: object
      properties:
        message:
          type: string
          example: "Test run triggered successfully"
        url:
          type: string
          example: "https://autonoma.app/run/pby4qnbppbvimimuls4v5ajq"
        runID:
          type: string
          example: "pby4qnbppbvimimuls4v5ajq"
        runGroupID:
          type: string
          description: Group ID for the test run
          example: "pby4qnbppbvimimuls4v5ajq"
    RunFolder:
      type: object
      properties:
        message:
          type: string
          example: "Folder with id cm9r0nog10012v301qtollv01 was scheduled to run. Since no applicationVersionID was provided, the latest version ('STG') for the application associated with the folder's tests was used."
        url:
          type: string
          example: "https://autonoma.app/run/folder/pby4qnbppbvimimuls4v5ajq"
        folder_run_id:
          type: string
          example: pby4qnbppbvimimuls4v5ajq
    RunTag:
      type: object
      properties:
        message:
          type: string
          example: "Runs with tags cm7dbowr80042waka7thyjhkq & cm8xf3wp90123abcd4efgh5ij were scheduled to run."
        url:
          type: string
          example: "https://autonoma.app/run/tag/pby4qnbppbvimimuls4v5ajq"
        folderRunID:
          type: string
          example: pby4qnbppbvimimuls4v5ajq
    TestRun:
      type: object
      properties:
        id:
          type: string
          example: "gch7uesq5h6m9xe2fdq5ddgd"
        name:
          type: string
          example: "Add 'member' to network, verify it can access the listings and remove it from the network"
        test_id:
          type: string
          example: "cm8d9gt6v000c9fe5glmyi33u"
        status:
          type: string
          enum: [pending, running, passed, failed]
          example: "pending"
        created_at:
          type: string
          format: date-time
          example: "2025-06-12T00:00:11.286Z"
        ended_at:
          type: string
          format: date-time
          example: "2025-06-12T00:00:11.286Z"
        folder_run_id:
          type: string
          nullable: true
          example: "y98cwdq4c3p3v3i68n7nay1p"
        job_run_id:
          type: string
          nullable: true
          example: null
        job_id:
          type: string
          nullable: true
          example: null
        folder:
          $ref: "#/components/schemas/TestFolder"
          nullable: true
        video_url:
          type: string
          nullable: true
          description: "Video URL (expires in 1 hour)"
          example: null
        steps:
          type: array
          items:
            $ref: "#/components/schemas/Step"
        metadata:
          $ref: "#/components/schemas/Metadata"
    Test:
      type: object
      properties:
        id:
          type: string
          example: "cmbsgljfr00fd060153r9x8ek"
        name:
          type: string
          example: "New Test 2025-06-11T21:25:47.442Z"
        created_at:
          type: string
          format: date-time
          example: "2025-06-11T21:25:47.559Z"
        folder:
          $ref: "#/components/schemas/TestFolder"
          nullable: true
        application_version:
          $ref: "#/components/schemas/ApplicationVersion"
        steps:
          type: array
          items:
            $ref: "#/components/schemas/Step"
    Folder:
      type: object
      properties:
        id:
          type: string
          example: "cmbsgljfr00fd060153r9x8ek"
        name:
          type: string
          example: "Draft Folder"
        created_at:
          type: string
          format: date-time
          example: "2025-06-11T21:25:47.559Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-06-11T21:25:47.559Z"
        crontab:
          type: string
          example: "0 0 * * *"
        tests:
          type: array
          items:
            $ref: "#/components/schemas/FolderTest"
    FolderTest:
      type: object
      properties:
        id:
          type: string
          example: "cmbsgljfr00fd060153r9x8ek"
        name:
          type: string
          example: "New Test 2025-06-11T21:25:47.442Z"
    RunStatus:
      type: object
      properties:
        status:
          type: string
          example: "running"
        url:
          type: string
          example: "https://autonoma.app/run/cmbjp2vva000u0j01vtfu5kdj"
    FolderRunStatus:
      type: object
      properties:
        status:
          type: string
          example: "running"
        url:
          type: string
          example: "https://autonoma.app/run/folder/xt80n05xgkolyyhidswgw1z6"
    BadRequestError:
      type: object
      properties:
        error:
          type: string
          example: "Bad Request"
        message:
          type: string
          example: "No applicationVersionID provided, and could not automatically determine an application from the tests within folder cmbsgljfr00fd060153r9x8ek. Please specify an applicationVersionID or ensure at least one test has an associated application."
    InvalidCredentialsError:
      type: object
      properties:
        error:
          type: string
          example: "Unauthorized"
        message:
          type: string
          example: "Invalid authentication credentials"
    NotFoundError:
      type: object
      properties:
        error:
          type: string
          example: "Not found"
        message:
          type: string
          example: "Resource with id `cm8d9gt6v000c9fe5glmyi33u` not found"
    DeviceFarmConfig:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether Device Farm is enabled for the organization
          example: true
        project_arn:
          type: string
          description: AWS Device Farm project ARN
          example: "arn:aws:devicefarm:us-west-2:123456789012:project:abc123..."
        default_android_device_arn:
          type: string
          nullable: true
          description: Default Android device ARN
          example: "arn:aws:devicefarm:us-west-2::device:ABC123..."
        default_ios_device_arn:
          type: string
          nullable: true
          description: Default iOS device ARN
          example: "arn:aws:devicefarm:us-west-2::device:DEF456..."
    DeviceFarmDevice:
      type: object
      properties:
        arn:
          type: string
          description: AWS Device Farm device ARN
          example: "arn:aws:devicefarm:us-west-2::device:ABC123..."
        name:
          type: string
          description: Device name
          example: "Apple iPhone 16"
        model:
          type: string
          description: Device model
          example: "iPhone16,1"
        manufacturer:
          type: string
          description: Device manufacturer
          example: "Apple"
        platform:
          type: string
          enum: [IOS, ANDROID]
          description: Device platform
          example: "IOS"
        availability:
          type: string
          enum: [HIGHLY_AVAILABLE, AVAILABLE, BUSY, TEMPORARY_NOT_AVAILABLE]
          description: Device availability status
          example: "HIGHLY_AVAILABLE"
        formFactor:
          type: string
          enum: [PHONE, TABLET]
          description: Device form factor
          example: "PHONE"
        os:
          type: string
          description: Operating system version
          example: "18.0"
    DeviceFarmDevicesResponse:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: "#/components/schemas/DeviceFarmDevice"
        default_device_arn:
          type: string
          nullable: true
          description: Default device ARN for the platform
          example: "arn:aws:devicefarm:us-west-2::device:ABC123..."
        project_arn:
          type: string
          description: AWS Device Farm project ARN
          example: "arn:aws:devicefarm:us-west-2:123456789012:project:abc123..."
paths:
  /test:
    get:
      summary: List tests
      description: Retrieve a list of test definitions with optional pagination
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of tests to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 20
        - name: offset
          in: query
          description: Number of tests to skip for pagination
          required: false
          schema:
            type: integer
            minimum: 0
            example: 0
        - name: steps
          in: query
          description: Include step details in response
          required: false
          schema:
            type: boolean
            example: true
        - name: folder
          in: query
          description: Retrieve tests by folder id
          required: false
          schema:
            type: string
            example: true
      responses:
        "200":
          description: List of tests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Test"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
  /test/{test_id}:
    get:
      summary: Get a specific test
      description: Retrieve details of a specific test definition by ID
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: test_id
          in: path
          required: true
          description: The ID of the test
          schema:
            type: string
            example: "cmbjp2vva000u0j01vtfu5kdj"
        - name: steps
          in: query
          description: Include step details in response
          required: false
          schema:
            type: boolean
            example: true
      responses:
        "200":
          description: Test details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Test"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "404":
          description: Test not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /test/{test_id}/run:
    post:
      summary: Run test
      description: |
        Triggers a test run. The test can be configured to run on a physical device either through test configuration or API parameters.
        
        **Physical Device Runs**: A test will run on a physical device in either of these scenarios:
        1. **API Parameter**: Pass `use_physical_device: true` in the request body
        2. **Test Configuration**: The test has `deviceFarmRunEnabled: true` in its test configuration
        
        When running on a physical device:
        - The organization must have Device Farm enabled
        - For iOS: A `.ipa` file must be uploaded as the `physicalDevicePath` for the application version
        - For Android: Uses the same `.apk` file as emulator runs
        - Device ARN priority: API `device_arn` > Test config `deviceFarmDeviceArn` > Org default device
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: test_id
          in: path
          required: true
          description: ID of the test to run
          schema:
            type: string
            example: "g41k688vndxzt7kh4kq5m12s"
      requestBody:
        required: false
        description: "Request body (optional)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunTestRequest"
            examples:
              default_run:
                summary: Run test on simulator/emulator (default)
                value: {}
              physical_device:
                summary: Run test on physical device via API
                value:
                  use_physical_device: true
              specific_device:
                summary: Run test on specific physical device
                value:
                  use_physical_device: true
                  device_arn: "arn:aws:devicefarm:us-west-2::device:ABC123..."
              version_with_physical:
                summary: Run test with specific version on physical device
                value:
                  application_version_id: "version_456"
                  use_physical_device: true
      x-codeSamples:
        - lang: curl
          label: "Run on simulator/emulator (default)"
          source: |
            curl --location --request POST 'https://autonoma.app/api/test/g41k688vndxzt7kh4kq5m12s/run' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'Content-Type: application/json' \
            --data '{}'
        - lang: curl
          label: "Run on physical device"
          source: |
            curl --location --request POST 'https://autonoma.app/api/test/g41k688vndxzt7kh4kq5m12s/run' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'Content-Type: application/json' \
            --data '{"use_physical_device": true}'
        - lang: curl
          label: "Run on specific physical device"
          source: |
            curl --location --request POST 'https://autonoma.app/api/test/g41k688vndxzt7kh4kq5m12s/run' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'Content-Type: application/json' \
            --data '{"use_physical_device": true, "device_arn": "arn:aws:devicefarm:us-west-2::device:ABC123..."}'
      responses:
        "201":
          description: Test run triggered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunTest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "403":
          description: Forbidden - Insufficient quota
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Forbidden"
                  message:
                    type: string
                    example: "Insufficient quota"
        "404":
          description: Test not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "500":
          description: Internal server error - Device Farm not configured or server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error"
                  message:
                    type: string
                    example: "Device Farm not configured"
  /folder:
    get:
      summary: List Folders
      description: Retrieve a list of folder definitions with optional pagination
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of folders to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 20
        - name: offset
          in: query
          description: Number of folders to skip for pagination
          required: false
          schema:
            type: integer
            minimum: 0
            example: 0
      responses:
        "200":
          description: List of Folders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Folder"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
  /folder/{folder_id}:
    get:
      summary: Get a specific folder
      description: Retrieve details of a specific folder definition by ID
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: folder_id
          in: path
          required: true
          description: The ID of the folder
          schema:
            type: string
            example: "cmbjp2vva000u0j01vtfu5kdj"
      responses:
        "200":
          description: Folder details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
        "404":
          description: Folder not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
  /folder/{folder_id}/run:
    post:
      summary: Run all tests within a folder
      description: "Executes all tests contained within the specified folder."
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: folder_id
          in: path
          required: true
          description: id of the folder to run
          schema:
            type: string
            example: "g41k688vndxzt7kh4kq5m12s"
      requestBody:
        required: false
        description: "Request body (optional)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunFolderRequest"
      responses:
        "200":
          description: Run creation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunFolder"
        "400":
          description: Bad request (e.g., missing application version)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "404":
          description: Folder not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /tag/run:
    post:
      summary: Run all tests that have a set of tags
      description: "Executes all tests that have all the specified tags."
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      requestBody:
        required: true
        description: "Request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunTagRequest"
      responses:
        "201":
          description: Run creation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunTag"
        "400":
          description: Bad request (e.g., missing application version)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "404":
          description: Tag not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /run:
    get:
      summary: List test runs
      description: Retrieve a list of test runs with optional filtering and pagination
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of runs to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 20
        - name: offset
          in: query
          description: Number of runs to skip for pagination
          required: false
          schema:
            type: integer
            minimum: 0
            example: 0
        - name: test
          in: query
          description: Filter by test ID
          required: false
          schema:
            type: string
            example: "cm8d9gt6v000c9fe5glmyi33u"
        - name: folder
          in: query
          description: Filter by folder ID
          required: false
          schema:
            type: string
            example: "cm7t223mk00154mzy2jwk2pqy"
        - name: status
          in: query
          description: Filter by run status
          required: false
          schema:
            type: string
            enum: [pending, running, passed, failed]
            example: "passed"
        - name: media
          in: query
          description: Include media URLs in response (expires in 1 hour)
          required: false
          schema:
            type: boolean
            example: true
        - name: steps
          in: query
          description: Include step details in response
          required: false
          schema:
            type: boolean
            example: true
      responses:
        "200":
          description: List of test runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TestRun"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
  /run/{run_id}:
    get:
      summary: Get a specific test run
      description: Retrieve details of a specific test run by ID
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: run_id
          in: path
          required: true
          description: The ID of the test run
          schema:
            type: string
            example: "g41k688vndxzt7kh4kq5m12s"
        - name: media
          in: query
          description: Include media URLs in response (expires in 1 hour)
          required: false
          schema:
            type: boolean
            example: true
        - name: steps
          in: query
          description: Include step details in response
          required: false
          schema:
            type: boolean
            example: true
      responses:
        "200":
          description: Test run details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestRun"
        "404":
          description: Test run not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
  /run/{run_id}/status:
    get:
      summary: Get a specific run status
      description: Retrieve just the run status
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: run_id
          in: path
          required: true
          description: The ID of the run
          schema:
            type: string
            example: "cmbjp2vva000u0j01vtfu5kdj"
      responses:
        "200":
          description: Run status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunStatus"
        "404":
          description: Run not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
  /run/folder/{folder_run_id}/status:
    get:
      summary: Get a specific run folder status
      description: Retrieve run folder status and run status linked to folder run
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: folder_run_id
          in: path
          required: true
          description: The ID of the run folder
          schema:
            type: string
            example: "cmbjp2vva000u0j01vtfu5kdj"
      responses:
        "200":
          description: Folder run status details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderRunStatus"
        "404":
          description: Folder run not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
  /application:
    post:
      summary: Create application
      description: Create a new application by uploading a file (APK for Android, ZIP for iOS) or providing web application details
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: x-platform
          in: header
          required: true
          description: Application platform type
          schema:
            type: string
            enum: [android, ios, web]
            example: "android"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Application file (APK for Android, ZIP for iOS)
                name:
                  type: string
                  description: Name of the application
                  example: "My Mobile App"
                cookies:
                  type: string
                  description: Optional cookies for web applications
                  example: "session=abc123"
                path:
                  type: string
                  description: URL path for web applications
                  example: "https://myapp.com"
                version:
                  type: string
                  description: Version name
                  example: "1.0.0"
                geolocation:
                  type: string
                  description: JSON string containing geolocation data
                  example: '{"latitude": 40.7128, "longitude": -74.0060}'
            examples:
              android_app:
                summary: Android APK Upload
                description: Example of uploading an Android APK file
                value:
                  name: "TestApiAndroid"
                  file: "@/path/to/your/app.apk"
              ios_app:
                summary: iOS ZIP Upload
                description: Example of uploading an iOS ZIP file
                value:
                  name: "TestApiIOS"
                  file: "@/Users/axel/Downloads/autonoma-bank.zip"
              web_app:
                summary: Web Application
                description: Example of creating a web application
                value:
                  name: "My Web App"
                  path: "https://myapp.com"
                  version: "1.0.0"
                  cookies: "session=abc123"
                  geolocation: '{"latitude": 40.7128, "longitude": -74.0060}'
      x-codeSamples:
        - lang: curl
          label: "Android"
          source: |
            curl --location --request POST 'https://autonoma.app/api/mobile' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: android' \
            --form 'name=TestApiAndroid' \
            --form 'file=@"/path/to/your/app.apk"'
        - lang: curl
          label: "iOS ZIP"
          source: |
            curl --location --request POST 'https://autonoma.app/api/mobile' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: ios' \
            --form 'name=TestApiIOS' \
            --form 'file=@"/Users/axel/Downloads/autonoma-bank.zip"'
        - lang: curl
          label: "Web Application"
          source: |
            curl --location --request POST 'https://autonoma.app/api/mobile' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: web' \
            --form 'name=My Web App' \
            --form 'path=https://myapp.com' \
            --form 'version=1.0.0' \
            --form 'cookies=session=abc123'
        - lang: javascript
          label: "JavaScript (FormData)"
          source: |
            const formData = new FormData();
            formData.append('name', 'TestApiIOS');
            formData.append('file', fileInput.files[0]);

            fetch('https://autonoma.app/api/mobile', {
              method: 'POST',
              headers: {
                'autonoma-client-id': 'YOUR_CLIENT_ID',
                'autonoma-client-secret': 'YOUR_CLIENT_SECRET',
                'x-platform': 'ios'
              },
              body: formData
            });
        - lang: python
          label: "Python (requests)"
          source: |
            import requests

            files = {'file': open('/Users/axel/Downloads/autonoma-bank.zip', 'rb')}
            data = {'name': 'TestApiIOS'}
            headers = {
                'autonoma-client-id': 'YOUR_CLIENT_ID',
                'autonoma-client-secret': 'YOUR_CLIENT_SECRET',
                'x-platform': 'ios'
            }

            response = requests.post(
                'https://autonoma.app/api/mobile',
                files=files,
                data=data,
                headers=headers
            )
      responses:
        "200":
          description: Application created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  application_id:
                    type: string
                    example: "cm7dbowr80042waka7thyjhkq"
                  application_version_id:
                    type: string
                    example: "cm7dbowr80042waka7thyjhkr"
                  message:
                    type: string
                    example: "App uploaded successfully"
              examples:
                success_response:
                  summary: Successful upload
                  value:
                    application_id: "cm7dbowr80042waka7thyjhkq"
                    application_version_id: "cm7dbowr80042waka7thyjhkr"
                    message: "App uploaded successfully"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error"
                  message:
                    type: string
                    example: "Failed to create application"
  /application/{application_id}:
    patch:
      summary: Update application version
      description: |
        Creates a new application version for an existing application, or updates an existing version to add a physical device file. 
        Supports uploading both simulator/emulator files and physical device files (for iOS).
        
        **Creating a new version**: Upload a new `file` (APK for Android, ZIP for iOS, or provide `path` for web).
        
        **Updating an existing version**: When only `physicalDeviceFile` is provided (without `file`), the API will:
        - Look up the existing application version by `version` name or `customID`
        - Update the existing version with the physical device file
        - Extract and store the minimum iOS version from the `.ipa` file's `Info.plist`
        
        **Note**: At least one of `file` or `physicalDeviceFile` must be provided. If only `physicalDeviceFile` is provided, 
        either `version` or `customID` must be specified to identify the existing version.
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: The ID of the application to update
          schema:
            type: string
            example: "cm7dbowr80042waka7thyjhkq"
        - name: x-platform
          in: header
          required: true
          description: Application platform type
          schema:
            type: string
            enum: [android, ios, web]
            example: "android"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: |
                    The main application file. 
                    **Required** when creating a new application version.
                    **Optional** when only adding a physical device file to an existing version.
                    - **Android**: Must be an `.apk` file
                    - **iOS**: Must be a `.zip` file containing a `.app` bundle (for simulators)
                    - **Web**: Not required (use `path` field instead)
                physicalDeviceFile:
                  type: string
                  format: binary
                  description: |
                    Physical device application file (iOS only).
                    - **iOS only**: Must be a `.ipa` file
                    - When provided, the API will upload the `.ipa` file.
                    - **Adding to existing version**: If only `physicalDeviceFile` is provided (without `file`), 
                      either `version` or `customID` must be provided to identify the existing version
                tag:
                  type: string
                  description: "Version tag. One of: main, staging, other. Defaults to main"
                  enum: [main, staging, other]
                  example: "staging"
                cookies:
                  type: string
                  description: Optional cookies for web applications
                  example: "session=xyz789"
                version:
                  type: string
                  description: |
                    Version name for the new application version.
                    Required when creating a new version or when updating an existing version by version name.
                  example: "2.0.0"
                path:
                  type: string
                  description: URL path/URL for web applications
                  example: "https://myapp.com/v2"
                geolocation:
                  type: string
                  description: "JSON stringified geolocation object with latitude and longitude"
                  example: '{"latitude": 40.7128, "longitude": -74.0060}'
                customID:
                  type: string
                  description: |
                    Custom identifier for the version (e.g., "build-123", "release-v2.0").
                    Can be used to identify an existing version when updating with physicalDeviceFile only.
                  example: "build-123"
            examples:
              ios_new_version_with_physical:
                summary: iOS - Create New Version with Simulator and Physical Device Files
                description: Create a new iOS application version with both simulator and physical device files
                value:
                  version: "1.0.0"
                  tag: "main"
                  file: "@/Users/axel/Downloads/autonoma-bank.zip"
                  physicalDeviceFile: "@/Users/axel/Downloads/autonoma-bank.ipa"
              ios_add_physical_to_existing:
                summary: iOS - Add Physical Device File to Existing Version
                description: Add a physical device file to an existing version identified by version name
                value:
                  version: "1.0.0"
                  physicalDeviceFile: "@/Users/axel/Downloads/autonoma-bank.ipa"
              ios_add_physical_by_customid:
                summary: iOS - Add Physical Device File by customID
                description: Add a physical device file to an existing version identified by customID
                value:
                  customID: "build-123"
                  physicalDeviceFile: "@/Users/axel/Downloads/autonoma-bank.ipa"
              update_android:
                summary: Android - Create New Version
                description: Create a new Android application version
                value:
                  file: "@/path/to/updated_app.apk"
                  tag: "main"
                  customID: "build-456"
              update_web:
                summary: Web - Create New Version
                description: Create a new web application version
                value:
                  version: "2.0.0"
                  path: "https://myapp.com/v2"
                  cookies: "session=xyz789"
      x-codeSamples:
        - lang: curl
          label: "iOS - New Version with Simulator and Physical Device Files"
          source: |
            curl --location --request PATCH 'https://autonoma.app/api/mobile/cm7dbowr80042waka7thyjhkq' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: ios' \
            --form 'version=1.0.0' \
            --form 'tag=main' \
            --form 'file=@"/Users/axel/Downloads/autonoma-bank.zip"' \
            --form 'physicalDeviceFile=@"/Users/axel/Downloads/autonoma-bank.ipa"'
        - lang: curl
          label: "iOS - Add Physical Device File to Existing Version"
          source: |
            curl --location --request PATCH 'https://autonoma.app/api/mobile/cm7dbowr80042waka7thyjhkq' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: ios' \
            --form 'version=1.0.0' \
            --form 'physicalDeviceFile=@"/Users/axel/Downloads/autonoma-bank.ipa"'
        - lang: curl
          label: "iOS - Add Physical Device File by customID"
          source: |
            curl --location --request PATCH 'https://autonoma.app/api/mobile/cm7dbowr80042waka7thyjhkq' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: ios' \
            --form 'customID=build-123' \
            --form 'physicalDeviceFile=@"/Users/axel/Downloads/autonoma-bank.ipa"'
        - lang: curl
          label: "Android"
          source: |
            curl --location --request PATCH 'https://autonoma.app/api/mobile/cm7dbowr80042waka7thyjhkq' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: android' \
            --form 'file=@"/path/to/updated_app.apk"' \
            --form 'tag=main' \
            --form 'customID=build-456'
        - lang: curl
          label: "Web Application"
          source: |
            curl --location --request PATCH 'https://autonoma.app/api/mobile/cm7dbowr80042waka7thyjhkq' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET' \
            --header 'x-platform: web' \
            --form 'version=3.0.0' \
            --form 'path=https://example.com' \
            --form 'cookies=session=abc123'
        - lang: javascript
          label: "JavaScript - iOS with Physical Device File"
          source: |
            const formData = new FormData();
            formData.append('version', '1.0.0');
            formData.append('tag', 'main');
            formData.append('file', simulatorFileInput.files[0]);
            formData.append('physicalDeviceFile', physicalDeviceFileInput.files[0]);

            fetch('https://autonoma.app/api/mobile/cm7dbowr80042waka7thyjhkq', {
              method: 'PATCH',
              headers: {
                'autonoma-client-id': 'YOUR_CLIENT_ID',
                'autonoma-client-secret': 'YOUR_CLIENT_SECRET',
                'x-platform': 'ios'
              },
              body: formData
            });
      responses:
        "200":
          description: Application version created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  application_version_id:
                    type: string
                    example: "cm7dbowr80042waka7thyjhks"
                  message:
                    type: string
                    example: "App uploaded successfully"
              examples:
                update_success:
                  summary: Successful update
                  value:
                    application_version_id: "cm7dbowr80042waka7thyjhks"
                    message: "App version updated successfully"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error"
                  message:
                    type: string
                    example: "Failed to create application version"
  /mobile/version:
    get:
      summary: Get application versions by customID
      description: Retrieves application versions filtered by `customID`, ordered from newest to oldest. Returns only non-disabled versions. Note that the `tag` field is not included in the response. Currently available for the "Ualá" organization.
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: customID
          in: query
          required: true
          description: The custom identifier to filter versions by (minimum 1 character)
          schema:
            type: string
            minLength: 1
            example: "build-123"
      responses:
        "200":
          description: List of application versions matching the customID
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VersionResponse"
              examples:
                success_response:
                  summary: Successful response
                  value:
                    - id: "cm7dbowr80042waka7thyjhkr"
                      name: "1.0.0"
                      customID: "build-123"
                      path: "gs://bucket/path/to/app.apk"
                      createdAt: "2024-12-12T18:13:36.000Z"
                      application:
                        id: "cm7dbowr80042waka7thyjhkq"
                        name: "MyApp"
                        applicationType: "android"
                    - id: "cm7dbowr80042waka7thyjhks"
                      name: "1.0.1"
                      customID: "build-123"
                      path: "gs://bucket/path/to/app-v2.apk"
                      createdAt: "2024-12-11T18:13:36.000Z"
                      application:
                        id: "cm7dbowr80042waka7thyjhkq"
                        name: "MyApp"
                        applicationType: "android"
        "400":
          description: Bad request - Missing or invalid customID parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error"
                  message:
                    type: string
                    example: "Server error during processing"
      x-codeSamples:
        - lang: curl
          label: "Get versions by customID"
          source: |
            curl --location --request GET 'https://autonoma.app/api/mobile/version?customID=build-123' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET'
  /device-farm/config:
    get:
      summary: Get Device Farm configuration
      description: Returns the Device Farm configuration for your organization, including whether it's enabled and the default device ARNs.
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      responses:
        "200":
          description: Device Farm configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceFarmConfig"
              examples:
                enabled_config:
                  summary: Device Farm enabled
                  value:
                    enabled: true
                    project_arn: "arn:aws:devicefarm:us-west-2:123456789012:project:abc123..."
                    default_android_device_arn: "arn:aws:devicefarm:us-west-2::device:ABC123..."
                    default_ios_device_arn: "arn:aws:devicefarm:us-west-2::device:DEF456..."
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "404":
          description: Device Farm is not enabled for this organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
      x-codeSamples:
        - lang: curl
          label: "Get Device Farm config"
          source: |
            curl --location --request GET 'https://autonoma.app/api/device-farm/config' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET'
  /device-farm/devices:
    get:
      summary: List available devices
      description: Returns a list of available physical devices from AWS Device Farm that can be used for test runs.
      security:
        - ApiKeyAuth: []
          ApiSecretAuth: []
      parameters:
        - name: platform
          in: query
          required: true
          description: Device platform
          schema:
            type: string
            enum: [android, ios]
            example: "ios"
      responses:
        "200":
          description: List of available devices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceFarmDevicesResponse"
              examples:
                ios_devices:
                  summary: iOS devices
                  value:
                    devices:
                      - arn: "arn:aws:devicefarm:us-west-2::device:ABC123..."
                        name: "Apple iPhone 16"
                        model: "iPhone16,1"
                        manufacturer: "Apple"
                        platform: "IOS"
                        availability: "HIGHLY_AVAILABLE"
                        formFactor: "PHONE"
                        os: "18.0"
                      - arn: "arn:aws:devicefarm:us-west-2::device:DEF456..."
                        name: "Apple iPhone 15 Pro"
                        model: "iPhone15,2"
                        manufacturer: "Apple"
                        platform: "IOS"
                        availability: "AVAILABLE"
                        formFactor: "PHONE"
                        os: "17.5"
                    default_device_arn: "arn:aws:devicefarm:us-west-2::device:ABC123..."
                    project_arn: "arn:aws:devicefarm:us-west-2:123456789012:project:abc123..."
        "400":
          description: Bad request - Missing or invalid platform parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidCredentialsError"
        "404":
          description: Device Farm is not enabled or not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
      x-codeSamples:
        - lang: curl
          label: "List iOS devices"
          source: |
            curl --location --request GET 'https://autonoma.app/api/device-farm/devices?platform=ios' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET'
        - lang: curl
          label: "List Android devices"
          source: |
            curl --location --request GET 'https://autonoma.app/api/device-farm/devices?platform=android' \
            --header 'autonoma-client-id: YOUR_CLIENT_ID' \
            --header 'autonoma-client-secret: YOUR_CLIENT_SECRET'
